@charset "UTF-8";
.header {
  width: 100%;
  height: 65px;
  background: #010632;
}
.header_head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1440px;
  height: 69px;
  margin-left: 70px;
}
.header_head_a1 {
  font-weight: 400;
  font-size: 24px;
  font-family: "Jost", sans-serif;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition-duration: 0.6s;
}
.header_head_a1:hover {
  border-bottom: 1px solid #fff;
  transition-duration: 0.4s;
}
.header_head_a2 {
  font-weight: 400;
  font-size: 24px;
  font-family: "Jost", sans-serif;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition-duration: 0.6s;
}
.header_head_a2:hover {
  border-bottom: 1px solid #fff;
  transition-duration: 0.4s;
}
.header_head_logo {
  font-size: 48px;
  font-family: "Istok Web", sans-serif;
  font-weight: 700;
  color: #fff;
}
.header_head_logo_span1 {
  color: #0075FF;
}
.header_head_logo_span2 {
  color: #FFB800;
}
.header_head_a3 {
  font-weight: 400;
  font-size: 24px;
  font-family: "Jost", sans-serif;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition-duration: 0.6s;
}
.header_head_a3:hover {
  border-bottom: 1px solid #fff;
  transition-duration: 0.4s;
}

.mobileheader {
  display: none;
}

.main_block1 {
  background: url(./img/Фонhero-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 713px;
}
.main_block1_bl1 {
  display: flex;
  justify-content: center;
}
.main_block1_bl1_p {
  font-size: 96px;
  font-family: "Jost", sans-serif;
  font-weight: 900;
  margin-top: 110px;
  color: #0075FF;
}
.main_block1_bl2 {
  display: flex;
  justify-content: center;
}
.main_block1_bl2_p {
  font-size: 96px;
  font-family: "Jost", sans-serif;
  font-weight: 900;
  margin-top: 25px;
  color: #FFC700;
}

.mobilemain_text1 {
  display: none;
}
.mobilemain_text2 {
  display: none;
}

.main2 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 461px;
  background: #010632;
  -moz-column-gap: 85px;
       column-gap: 85px;
}
.main2_left {
  width: 420px;
  height: 313px;
  margin-top: 32px;
}
.main2_left_title {
  font-size: 48px;
  font-family: "Istok Web", sans-serif;
  font-weight: 700;
  color: #fff;
}
.main2_left_text {
  font-size: 20px;
  margin-top: 10px;
  line-height: 35px;
  font-family: "Istok Web", sans-serif;
  color: #fff;
}
.main2_blockimg {
  margin-top: 34px;
  width: 665px;
  height: 364px;
}

.mobilemain2_center {
  display: none;
}
.mobilemain2_blockimg {
  display: none;
}

.main3 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 461px;
  -moz-column-gap: 86px;
       column-gap: 86px;
  background: #060D49;
}
.main3_img {
  width: 665px;
  height: 364px;
  margin-top: 34px;
}
.main3_text {
  margin-top: 41px;
  width: 420px;
  height: 313px;
}
.main3_text_title {
  font-size: 48px;
  font-family: "Istok Web", sans-serif;
  font-weight: 700;
  color: #fff;
}
.main3_text_p {
  font-size: 20px;
  margin-top: 10px;
  line-height: 35px;
  font-family: "Istok Web", sans-serif;
  color: #fff;
}

.mobilemain3_center {
  display: none;
}
.mobilemain3_blockimg {
  display: none;
}

.main4 {
  width: 100%;
  height: 773px;
  background: #010632;
}
.main4_center {
  display: flex;
  justify-content: center;
}
.main4_center_text {
  width: 780px;
  height: 138px;
  margin-top: 15px;
}
.main4_center_text_p {
  font-size: 48px;
  font-family: "Istok Web", sans-serif;
  font-weight: 700;
  color: #FFF;
  text-align: center;
}
.main4_img {
  display: flex;
  justify-content: center;
}

.mobilemain4_center {
  display: none;
}
.mobilemain4_blockimg {
  display: none;
}

.main5 {
  width: 100%;
  height: 845px;
  background: #060D49;
}
.main5_center {
  display: flex;
  justify-content: center;
}
.main5_center_text {
  margin-top: 30px;
  font-size: 48px;
  font-family: "Istok Web", sans-serif;
  font-weight: 700;
  color: #fff;
}
.main5_blocks {
  display: flex;
  justify-content: center;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
.main5_blocks_block1 {
  width: 365px;
  height: 487px;
  margin-top: 65px;
  background: #fff;
  border-radius: 5px;
}
.main5_blocks_block1_blockimg {
  display: flex;
  justify-content: center;
}
.main5_blocks_block1_blockimg_img {
  width: 335px;
  height: 234px;
  margin-top: 26px;
}
.main5_blocks_block1_center {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.main5_blocks_block1_center_p {
  font-size: 48px;
  font-family: "Istok Web", sans-serif;
  font-weight: 700;
}
.main5_blocks_block1_center2 {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.main5_blocks_block1_center2_p {
  font-size: 24px;
  font-family: "Jost", sans-serif;
  text-align: center;
}
.main5_blocks_block1_centerimg {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.main5_blocks_block1_centerbtn {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}
.main5_blocks_block1_centerbtn_btn {
  width: 235px;
  height: 61px;
  border-radius: 15px;
  background: #0057FF;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-family: "Jost", sans-serif;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  .header {
    display: none;
  }
  .mobileheader {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 52px;
    background: #010632;
  }
  .mobileheader_logo {
    font-size: 24px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    color: #fff;
    margin-top: 16px;
  }
  .mobileheader_logo_span1 {
    color: #0075FF;
  }
  .mobileheader_logo_span2 {
    color: #FFB800;
  }
  .main {
    display: none;
  }
  .mobilemain {
    background: url(./img/Фон.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 411px;
  }
  .mobilemain_text1 {
    display: flex;
    justify-content: center;
  }
  .mobilemain_text1_p {
    font-size: 24px;
    font-family: "Jost", sans-serif;
    font-weight: 700;
    color: #0085FF;
    margin-top: 153px;
  }
  .mobilemain_text2 {
    display: flex;
    justify-content: center;
  }
  .mobilemain_text2_p {
    font-size: 24px;
    font-family: "Jost", sans-serif;
    font-weight: 700;
    color: #FFC700;
    margin-top: 15px;
  }
  .main2 {
    display: none;
  }
  .mobilemain2 {
    width: 100%;
    height: 560px;
    background: #010632;
  }
  .mobilemain2_center {
    display: flex;
    justify-content: center;
  }
  .mobilemain2_center_textdiv {
    width: 271px;
    height: 160px;
    margin-top: 24px;
  }
  .mobilemain2_center_textdiv_title {
    color: #FFF;
    font-size: 24px;
    font-family: "Istok Web", sans-serif;
    font-weight: 700;
  }
  .mobilemain2_center_textdiv_p {
    color: #FFF;
    font-size: 16px;
    margin-top: 10px;
    line-height: 25px;
    font-family: "Jost", sans-serif;
  }
  .mobilemain2_blockimg {
    display: flex;
    justify-content: center;
    margin-top: 26px;
  }
  .main3 {
    display: none;
  }
  .mobilemain3 {
    width: 100%;
    height: 460px;
    background: #060D49;
  }
  .mobilemain3_blockimg {
    display: flex;
    justify-content: center;
  }
  .mobilemain3_blockimg_img {
    margin-top: 24px;
  }
  .mobilemain3_center {
    display: flex;
    justify-content: center;
  }
  .mobilemain3_center_textdiv {
    width: 271px;
    height: 160px;
    margin-top: 35px;
  }
  .mobilemain3_center_textdiv_title {
    color: #FFF;
    font-size: 24px;
    font-family: "Istok Web", sans-serif;
    font-weight: 700;
  }
  .mobilemain3_center_textdiv_p {
    color: #FFF;
    font-size: 16px;
    margin-top: 10px;
    line-height: 25px;
    font-family: "Jost", sans-serif;
  }
  .main4 {
    display: none;
  }
  .mobilemain4 {
    width: 100%;
    height: 501px;
    background: #010632;
  }
  .mobilemain4_center {
    display: flex;
    justify-content: center;
  }
  .mobilemain4_center_text {
    width: 317px;
    height: 45px;
    margin-top: 20px;
  }
  .mobilemain4_center_text_p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-family: "Istok Web", sans-serif;
  }
  .mobilemain4_blockimg {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}/*# sourceMappingURL=style.css.map */